<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground-Multiboxes</title>
</head>
<style>
    h1 {
        text-align: center;
        margin: 50px;
    }

    .blue-box {
        height: 100px;
        width: 100px;
        border: 2px solid black;
        border-radius: 10%;
        background-color: {{color}};
        margin-bottom: 20px;
    }
    .container {
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {{ box = <div class="blue-box"></div> }}

        {% for divs in range(0,x) %}
        box
        {% endfor %}
    </div>
    
</body>
</html>