<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email Address</th>
        <th>Created_At</th>
        <!-- jinja for loop to iterate and print this block -->
        {% for one_user in all_users %}
        <tr>
            <!-- jinja varialbe for ID -->
            <td>ID</td> 
            <!-- jinja variable for full name -->
            <td>{{one_user.first_name}} {{one_user.last_name}}</td>
            <!-- jinja variable for email -->
            <td>{{one_user.email}}</td>
            <!-- jinja variable for created at -->
            <td>{{one_user.created_at}}</td>
        </tr>
        {% endfor %}
        <!-- jinja for loop to iterate and print this block -->
    </table>
    <a href="/users/new"><p>Add a New User</p></a>





    

</body>
</html>