<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Counter</h1>
    <!-- insert jinja variable to count clicks -->
    <!-- this jinja variable is linked to home() function on root route which is linked to global variable "visits" -->
    <p>{{count}}</p> 
    <!-- form to store if this button is clicked on session -->
    <div class="container">
        <form action="/count" method="POST">
            <!-- POST method determines what type of action this form does -->
            <button name="click">Click</button>
            <!-- "name" is the key that will be saved in the session dict when this form is POST'd -->
        </form>
        <!-- reset button goes here -->
        <a href="destroy_session"><button>Reset!</button></a>
    </div>  
</body>
</html>